body {
  margin: 0 auto;
}
.banner {
  width: 1480px;
  height: 440px;
  background: linear-gradient(135deg, #23aa8a 0%,#b8efc5 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: auto;
}
.form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}
form {
  display: inline-block;
}
.logo {
  width: 36px;
  height: 36px;
  background-color: pink;
  display: inline-block;
}
.logo-container {
  text-align: right;
}
.footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 100%;
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #eaebed;
}
